
<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container-fluid">
        <p class="navbar-text pull-left" >
            <a href="#user/{{Model.userId}}/website/{{Model.websiteId}}/page/{{Model.pageId}}/widget"> <span class="glyphicon glyphicon-chevron-left"></span></a>

        </p>

        <a class="navbar-brand" href="#">
            CHOOSE WIDGET
        </a>

    </div>
</nav>

    <div class="container-fluid">
        <div class="table-responsive">

            <ul class="list-group">
                <li class="list-group-item">
                    <a ng-click="Model.createWidget('HEADER')">
                        Header
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Label
                    </a>
                </li>
                <li class="list-group-item">
                    <a ng-click="Model.createWidget('HTML')">
                        HTML
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Text Input
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Link
                    </a>
                </li>
                <li class="list-group-item">
                    <a ng-click="Model.createWidget('IMAGE')">
                        Image
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Data Table
                    </a>
                </li>
                <li class="list-group-item">
                    <a ng-click="Model.createWidget('YOUTUBE')">
                        YouTube
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Repeater
                    </a>
                </li>
            </ul>
        </div>

    </div>

<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <a href="#user/{{Model.userId}}" class="navbar-link">
            <span class="glyphicon glyphicon-user pull-right navbar-brand"></span>
        </a>
    </div>
</nav>


