

<div class="container">

    <h3>Login</h3>

    <div ng-show="form1.$invalid && form1.$submitted" class="alert alert-danger">
        Username or Password not entered!
    </div>

    <form name="form1" novalidate>
        <div ng-show="LogModel.error" class="alert alert-danger" role="alert">
            {{LogModel.error}}
        </div>

        <div class="form-group">
            <input ng-model="user.username"
                   name="username"
                   type="text"
                   class="form-control "
                   placeholder="username"
                   required>
            <div class="error" ng-show="form1.username.$invalid">
                Please enter a username.
            </div>
        </div>
        <div class="form-group">
            <input ng-model="user.password"
                   name="password"
                   type="password"
                   class="form-control"
                   placeholder="password"
                   required>
            <div class="error" ng-show="form1.password.$invalid">
                Please enter a password.
            </div>
        </div>

        <div class="container-fluid">

            <button class="btn-primary btn btn-block" type="submit"
                    ng-click="LogModel.login(user)">Login</button>

            <a class="btn-success btn btn-block"
               onclick="window.location.href='#register'">Register</a>

            <a href="/auth/google" class="btn btn-danger btn-block">
                <span class="fa fa-google-plus"></span>
            </a>

            <a href="/auth/facebook" class="btn btn-primary btn-block">
                <span class="fa fa-facebook"></span>
                Facebook
            </a>

        </div>



    </form>







</div>
