
    <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container-fluid col-xs bg-primary">
            <div class="navbar-header m">
                <a class="navbar-brand">
                    PROFILE
                </a>


              <p class="navbar-text pull-right">
                  <a href="ProfileModel.updateUser()">
                      <span class="glyphicon glyphicon-ok"></span>
                  </a>

              </p>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-show="ProfileModel.succ" class="alert alert-success" role="alert">
            {{ProfileModel.succ}}
        </div>
        <form>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" placeholder="Username"
                ng-model="ProfileModel.user.username"}}>
            </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" class="form-control" placeholder="tj@gmail.com"
                ng-model="ProfileModel.user.email">
            </div>

            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" class="form-control" placeholder="Teja"
                       ng-model="ProfileModel.user.firstName">
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" class="form-control" placeholder="Gummalla"
                       ng-model="ProfileModel.user.lastName">
            </div>

        </form>


        <a href="#/user/{{ProfileModel.user._id}}/website" class="btn btn-success btn-block">
            Websites
        </a>
        <a class="btn btn-primary btn-block topp" ng-click="ProfileModel.updateUser()">
            Update
        </a>

        <button class="btn btn-warning btn-block"
        onclick="window.location.href='#login'">Logout</button>

        <button class="btn btn-danger btn-block"
        ng-click="ProfileModel.deleteUser()">UnRegister</button>


    </div>

    <nav class="navbar navbar-dedault navbar-fixed-bottom">
        <div class="container-fluid col-xs bg-primary">
            <div class="navbar-header" style="width: 100%">
               <a class="navbar-text pull-right" href="#/user/{{ProfileModel.user._id}}">
                    <span class="glyphicon glyphicon-user"></span>

                </a>
            </div>
        </div>
    </nav>

