

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid bg-primary">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">WEBSITES</a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs">
                <a href="#/user/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <a class="navbar-brand" href="#">New Website</a>
            <div class="navbar-text pull-right hidden-sm-plus">
                <a  ng-click="Model.createWebsite(website)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>


        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs wbdv-left-pane">
        <ul class="list-group">
            <li ng-repeat="website in Model.websites" class="list-group-item">
                <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <a href="#/user/website/{{website._id}}" class="pull-right">
                    <span class="glyphicon glyphicon-cog "></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-xs-12 col-sm-8 wbdv-right-pane">
        <div ng-show="form3.$invalid && form3.$submitted" class="alert alert-danger">
            Website name not entered!
        </div>

        <form name="form3" novalidate>
            <label for="name">Website Name</label>
            <input ng-model="website.name"
                   name="webName"
                   required
                   class="form-control input-lg"
                   id="name" placeholder="Website Name">
            <div ng-show="form3.webName.$invalid" class="error">
                Please enter a websie name.
            </div>

            <label for="description">Website Description</label>
            <textarea ng-model="website.description"
                      class="form-control input-lg"
                      id="description" rows="4" placeholder="Description"></textarea>

            <div>
                <button type="submit" class="btn btn-block btn-success topp"
                   ng-click="Model.createWebsite(website)">
                    Create
                </button>
            </div>
        </form>

    </div>
</div>


<nav class="navbar navbar-fixed-bottom bg-primary">
    <div class="container-fluid">
        <a href="#user" class="navbar-link">
            <span class="glyphicon glyphicon-user pull-right navbar-brand"></span>
        </a>
    </div>
</nav>
