<div class="container">
    <form action="/api/upload"  method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="img_name">Name</label>
            <input type="text" ng-model="Model.widget.name" class="form-control" id="img_name">
        </div>
        <div ng-show="form1.widName.$invalid" class="error">
            Please enter the widget name.
        </div>

        <div class="form-group">
            <label for="img_text">Text</label>
            <input type="text" id="img_text" ng-model="Model.widget.text" class="form-control">
        </div>

        <div class="form-group">
            <label for="img_url">URL</label>
            <input type="text" id="img_url" class="form-control"
                   ng-model="Model.widget.url">
        </div>

        <div class="form-group">
            <label for="img_width">Width</label>
            <input type="text" name="width" id="img_width" ng-model="Model.widget.width"
                   class="form-control" value="100%">
        </div>

        <a class="btn btn-block btn-danger"
                href="#user/{{Model.userId}}/website/{{Model.websiteId}}/page/{{Model.pageId}}/widget/{{Model.widgetId}}/flickr">Search</a>

        <div class="form-group">
            <label for="widgetUpload">Upload</label>
            <input type="file" id="widgetUpload" name="myFile" class="form-control"/>
            <input name="widgetId" value="{{Model.widgetId}}" style="display: none"/>
            <input name="userId" value="{{Model.userId}}" style="display: none"/>
            <input name="websiteId" value="{{Model.websiteId}}" style="display: none"/>
            <input name="pageId" value="{{Model.pageId}}" style="display: none"/>

            <button type="submit" class="btn btn-block btn-primary">Upload Image</button>
        </div>

        <br>

    </form>
    <a class="btn btn-danger btn-block"
       ng-click="Model.widgetDelete()">Delete</a>
</div>