<div class="container">

    <div ng-show="form1.$invalid && form1.$submitted" class="alert alert-danger">
        Widget name not entered!
    </div>

    <form name="form1" novalidate>
        <label for="html_text">Text</label>
        <div id="html_text" ng-model="Model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">

            <!--<input type="text" id="html_text" class="form-control"-->
                   <!--ng-model="Model.widget.text">-->
        </div>

        <label for="html_name">Name</label>
        <input type="text" class="form-control"
               name="widName"
               required
               id="html_name" ng-model="Model.widget.name">

        <div ng-show="form1.widName.$invalid" class="error">
            Please enter the widget name.
        </div>


        <button class="btn btn-danger btn-block topp"
                type="submit"
           ng-click="Model.widgetDelete()">Delete</button>

        <button class="btn btn-success btn-block topp"
                type="submit"
           ng-click="Model.widgetUpdate()">Update</button>

    </form>


</div>