<div class="container">
    <form>
        <label for="html_text">Text</label>
        <div id="html_text" ng-model="Model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">

            <!--<input type="text" id="html_text" class="form-control"-->
                   <!--ng-model="Model.widget.text">-->
        </div>

        <label for="html_name">Name</label>
        <input type="text" class="form-control" id="html_name" ng-model="Model.widget.name">


    </form>
    <a class="btn btn-danger btn-block topp"
       ng-click="Model.widgetDelete()">Delete</a>

    <a class="btn btn-success btn-block topp"
       ng-click="Model.widgetUpdate()">Update</a>

</div>