





.navbar-head{
    color: white;
}



.list-group-item{
    background-color: inherit;
}

.navbar-default .navbar-brand {
    color: white;
    padding-right: 15px;
}

.pull-right{
    padding-right: 15px;
}


a:hover{
    text-decoration: none;
}

.navbar-brand{
    padding: 15px;
}

.list-group-item {
border: hidden}

.btn-block{
    margin-top: 10px;
}

